<table>
  <thead>
      <tr>
          <th>ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Branch</th>
          <th>DOB</th>
          <th>Gender</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let student of students" let-i="index" [ngForTrackBy]="studentTrackBy(i, student)">
          <td>{{std.ID}}</td>
          <td>{{std.FirstName}}</td>
          <td>{{std.LastName}}</td>
          <td>{{std.Branch}}</td>
          <td>{{std.DOB}}</td>
          <td>{{std.Gender}}</td>
      </tr>
  </tbody>
</table>
<br />
<button (click)='getStudent()'>Refresh Students</button>
